body{
    background-color: rgb(54, 52, 52);
    color: white;
    overflow: hidden;
}

.al-wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container{
    height: 100%;
}

.row{
    height: 80%;
    overflow-y: auto;
}

ul{
    height: 95%;
    padding: 0 1.2rem;
    overflow-y: auto;
}

li{
    display: flex;
    list-style: none;
    background-color: rgb(87, 81, 81);
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1rem 0.7rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}

.al-w{
    width: 75%;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

.al-done{
    color: lightgreen;
    text-decoration: line-through;
}

.al-row-border{
    background-color: rgb(70, 66, 66);
    border: 1px solid lightgray;
    border-radius: 4px;
    overflow: hidden;
}

.al-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.al-pointer{
    cursor: pointer;
    transition: background-color 300ms;
}

.al-pointer:hover{
    background-color: rgb(100, 94, 94);
}

.al-hover-trash, .al-hover-edit{
    transition: all 300ms;
}

.al-hover-trash:hover{
    color: black;
    background-color: #ff592f;
}

.al-hover-edit:hover{
    color: black;
    background-color: #aeff2f;
}

input[type="text"]{
    width: 100%;
    background-color: white;
    color: black;
    padding: 0 0.3rem;
    border: 1px solid black;
    border-radius: 4px;
}

::placeholder{
    color: black;
    opacity: 0.7;
}

label{
    cursor: pointer;
}

.al-submit{
    background-color: lightgray;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.5rem 1.2rem;
    transition: all 300ms;
}

.al-submit:hover{
    background-color: rgb(235, 235, 235);
    transform: scale(1.1);
}

.al-col-height{
    height: 50%;
}

input[type="checkbox"]{
    width: 24px;
    height: 24px;
}

@media screen and (min-width: 768px){
    .al-col-height{
        height: 100%;
    }
}